{template 'common/header-zunyang'}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">编辑经营范围</h3>
    </div>
    <div class="panel-body">
        <form action="" method="post" class="form-horizontal" role="form" id="form1" >
            <div class="form-group">
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <div class="input-group">
                        <div class="input-group-addon">经营范围</div>
                        <input type="text" class="form-control" name="fname" placeholder="如：旅游" value="{$result['fname']}"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="submit" class="btn btn-danger" value="提交">
                    <input type="hidden" name="token" value="{$_W['token']}">
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    $(function(){

        $('#form1').submit(function(){
            if(!$.trim($(':text[name="fname"]').val())) {
                util.message('请填写经营范围', '', 'error');
                return false;
            }
            return true;
        });
    });
</script>
{template 'common/footer'}